.btn-options {
    margin-right: 2px;
}

.btn-add {
    text-align: right;
    align-content: center;
}

.p-dropdown-panel {
    display: block !important;
    z-index: 1000 !important;
    width: 100%;
  }